body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.header {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin: 1em;
    font-weight: bold;
}

button {
    background-color: lightblue;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 10px;
}

.colorbuttons {
    margin: 1em;
    text-align: center;
}
.mastercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.item-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.item {
    padding: 2em;
    font-family:'Brush Script MT';
    border: 2px solid black;
}

#promptButton {
    width: 100px;
    height: 100px;
}