body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 100%;
    height: 100%;
}

/* header */
.header {
    font-family:'Courier New', Courier, monospace;
    margin: 1em;
    font-weight: bold;
}

button {
    background-color: lightblue;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 10px;
}

.colorbuttons {
    margin: 1em;
    text-align: center;
}

#promptButton {
    width: 100px;
    height: 100px;
}

/* body */

.thecontainer {
    height: 100%;
    width: 100%;
    text-align:center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.mastercontainer{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    height: 50em;
    width: 50em;
}

.item-container{
    display: flex;
    flex: 1;
}

.item {
    flex: 1;
    border: 2px solid black;
}